/*@font-face {
	font-family: 'Amstelvar';
	src: url('ScienceGothic.ttf') format('truetype');
	font-display: swap;
	font-weight: 125 950;
	font-stretch: 75% 125%;
	font-style: oblique 0deg 20deg;
}

@font-face {
	font-family: 'Decovar Regular24';
	src: url('Decovar-VF.ttf') format('truetype');
}
@font-face {
	font-family: 'Amstelvar Variable';
	src: url('LeagueSpartanVariable.ttf') format('truetype');
}*/
@font-face {
	font-family: 'Amstelvar';
	src: url('Amstelvar-Roman.ttf') format('truetype');
	font-weight: 175 900;
	font-stretch: 50% 200%;
}
@font-face {
	font-family: 'League Spartan';
	src: url('LeagueSpartanVariable.ttf') format('truetype');
	font-weight: 175 900;
	font-stretch: 50% 200%;
}
